<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>
        Create new Song
    </h1>

    <form action="/create" method="post">
        <label>Enter next ID nr</label>
        <input type="text" name="id">
        <label>Enter artist name</label>
        <input type="text" name="artist">
        <label>Enter album name</label>
        <input type="text" name="album">
        <label>Enter song name</label>
        <input type="text" name="song_name">
        <label>Enter duration of the song</label>
        <input type="text" name="duration">
        <input style="background-color: cyan" type="submit" value="Create new song">
    </form>
</body>
</html>